@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #DFF2FF;
}

.navbar {

}

.navbar .navbar-nav {

}

.navbar .navbar-nav .nav-item {

}

.navbar .navbar-nav .nav-item .nav-link {
  
}